Bohdan_Khamurda/WebAPISwagger/.vs/WebAPISwagger/v16/Server/sqlite3/db.lock
Bohdan_Khamurda/WebAPISwagger/.vs/WebAPISwagger/v16/Server/sqlite3/storage.ide
*.cache
Bohdan_Khamurda/WebAPISwagger/.vs/WebAPISwagger/v16/Server/sqlite3/storage.ide-shm
Bohdan_Khamurda/WebAPISwagger/WebAPISwagger/obj/Debug/netcoreapp2.2/WebAPISwagger.RazorAssemblyInfo.cs
Bohdan_Khamurda/WebAPISwagger/WebAPISwagger/obj/WebAPISwagger.csproj.nuget.g.targets
Bohdan_Khamurda/WebAPISwagger/WebAPISwagger/obj/WebAPISwagger.csproj.nuget.g.props
Bohdan_Khamurda/WebAPISwagger/WebAPISwagger/obj/project.assets.json
Bohdan_Khamurda/WebAPISwagger/.vs/WebAPISwagger/v16/Server/sqlite3/storage.ide-wal
